<!--
Book_data is a dict with keys: title, author, year, isbn, average_rating, number_ratings
-->

{% extends 'loggedin.html' %}

{% block body %}
  <center>
    <h1><i>{{ book_data['title'] }}</i></h1><br>
    <h3>written by {{ book_data['author'] }}</h3><br>
    <h5>Published in {{ book_data['year'] }}<br>
    ISBN: {{ book_data['isbn'] }}<br>
    <br>
    Average Goodreads rating: {{ book_data['average_rating'] }}<br>
    Number of ratings: {{ book_data['number_ratings'] }}<br>
    <br>
    TODO:<br>
    Leave a review<br>
    Read reviews</h5>
  </center>
{% endblock %}
